@include media($tiny-mobile-width) {
  @include responsive-bar(red, 'hello');
  // Header content.
  .header {
    .header-inner {
      height: 300px;
      text-align: center;

      #logo {
        @include span-columns(12);
        top:10px;
        margin: 0px;
      }

      .header-msg {
        @include span-columns(12);
        .header-msg-one {
          top: 10px;
          padding-top: 10px;
          font-size: 18px;
        }
      }

      .header-phone {
        @include span-columns(12);
        top:15px;
        #block-pmh-header-pmh-phone {
          font-size: 25px;
          margin:0px;
          &:before {
            left: 15px;
          }
        }
      }
    }
  }

  // Body content.
  .node {
    @include span-columns(12);
    margin-bottom:200px;
  }
  // Webform.
  #block-webform-client-block-3 {
    @include span-columns(12);
    h2 {
      font-size: 38px;
    }
    .pmh-form-line1 {
      font-size: 34px;
    }
    .pmh-form-line2 {
      font-size: 80px;
    }
    .pmh-form-line3 {
      font-size: 15px;
    }
    .pmh-form-line4 {
      font-size: 25px;
    }
  }

  // Map Block
  #block-pmh-gmap-pmh-gmap {
    .map-content {
      @include span-columns(12);
      margin-right:0px;
      margin-bottom:10px;
      .map-address {
        padding:0px 10px;
      }
    }
  }

  .macro-copyright {
    padding-top:15px;
    .icons {
      @include span-columns(12);
      text-align: center;
      a {
        font-size: 18px;
      }
    }
    .macro-copy {
      @include span-columns(12);
      text-align: center;
      a {
        font-size: 14px;
      }
    }
  }


  .memberships-wrapper {
    span{
      @include span-columns(4);
    }
  }
}

@include media($small-mobile-width) {
  @include responsive-bar(orange, 'hello');
  .header {
    .header-inner {
      .header-msg {
        .header-msg-one {
          font-size: 22px;
        }
      }
      .header-phone {
        #block-pmh-header-pmh-phone {
          font-size: 36px;
        }
      }
    }
  }
  .memberships-wrapper {
    span{
      @include span-columns(4);
    }
  }

  #block-webform-client-block-3 {
    h2 {
      font-size: 70px;
    }
    .pmh-form-line1 {
      font-size: 60px;
    }
    .pmh-form-line2 {
      font-size: 140px;
    }
    .pmh-form-line3 {
      font-size: 28px;
    }
    .pmh-form-line4 {
      font-size: 47px;
    }
  }


  .icons,
  .macro-copy {
    @include span-columns(12);
  }

}

@include media($medium-mobile-width) {
  @include responsive-bar(green, 'hello');
  .header {
    .header-inner {
      .header-msg {
        #block-pmh-header-pmh-header {
          margin:0px;
          .header-msg-one {
            font-size: 30px;
          }
        }
      }
    }
  }
  .memberships-wrapper {
    span{
      @include span-columns(4);
    }
  }

  .icons,
  .macro-copy {
    @include span-columns(12);
  }

}

@include media($large-mobile-width) {
  @include responsive-bar(purple, 'hello');
  .header {
    .header-inner {
      .header-phone {
        #block-pmh-header-pmh-phone {
          font-size: 60px;
        }
      }
    }
  }
  .memberships-wrapper {
    span{
      @include span-columns(4);
    }
  }

  .macro-copyright {
    padding-top:15px;
    .icons {
      @include span-columns(6);
      a {
        font-size: 40px;
      }
    }
    .macro-copy {
      @include span-columns(6);
      padding-top: 15px;
      a {
        font-size: 18px;
      }
    }
  }

}


@include media($tablet-width) {
  @include responsive-bar(yellow, 'hello');
  // Header content.
  .header {
    .header-inner {
      height: 148px;
      #logo {
        @include span-columns(3);
        top:25px;
        margin: 0px;
      }

      .header-msg {
        @include span-columns(6);
        #block-pmh-header-pmh-header {
          .header-msg-one {
            top: 10px;
            padding-top: 10px;
            font-size: 23px;
          }
        }
      }

      .header-phone {
        @include span-columns(3);
        top:15px;
        #block-pmh-header-pmh-phone {
          position: relative;
          top:40px;
          font-size: 22px;
          margin:0px;
          &:before {
            left: 15px;
          }
        }
      }
    }
  }

  #main {
    .node {
      @include span-columns(7);
    }

    #block-webform-client-block-3 {
      @include span-columns(5);
      h2 {
        font-size: 50px;
      }
      .pmh-form-line1 {
        font-size: 50px;
      }
      .pmh-form-line2 {
        font-size: 115px;
      }
      .pmh-form-line3 {
        font-size: 22px;
      }
      .pmh-form-line4 {
        font-size: 37px;
      }
    }



  }

  #block-pmh-gmap-pmh-gmap {
    .map-content {
      @include span-columns(6);
    }
  }

  .memberships-wrapper {
    span{
      @include span-columns(12);
    }
  }

}

@include media($main-menu-break) {
  @include responsive-bar(blue, 'hello');
  .header {
    .header-inner {

      .header-msg {

        #block-pmh-header-pmh-header {
          .header-msg-one {
            font-size: 33px;
          }
        }
      }

      .header-phone {
        #block-pmh-header-pmh-phone {
          font-size: 33px;
        }
      }
    }
  }

  #block-webform-client-block-3 {
    h2 {
      font-size: 60px;
    }
    .pmh-form-h3 {
      .pmh-form-line1 {

      }
      .pmh-form-line2 {
        font-size: 125px;
      }
      .pmh-form-line3 {
        font-size: 24px;
      }
      .pmh-form-line4 {
        font-size: 40px;
      }
    }
  }

  .memberships-wrapper {
    span{
      @include span-columns(4);
    }
  }
}


@include media($desktop-width) {
  @include responsive-bar(grey, 'hello');
  .header .header-inner .header-msg #block-pmh-header-pmh-header .header-msg-one {
    top:0px;
    font-size: 44px;
  }

  .memberships-wrapper {
    span{
      @include span-columns(4);
    }
  }

  .icons,
  .macro-copy {
    @include span-columns(6);
  }

}